<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qq.reader.bookstore">

    <application>
        <activity
            android:name="com.qq.reader.bookstore.CommonPageListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/TitleTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
    </application>
</manifest>